<nav class="navbar navbar-expand-md navbar-light bg-light" id="navbar-top">
    <a class="navbar-brand" href="/dashboard">Dashboard</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a href="#" id="author-dropdown-link" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Blogging</a>
            <ul class="dropdown-menu" aria-labelledby="author-dropdown-link">
                <li><a class="dropdown-item" href="/blogs/new">New blog <i class="fa-regular fa-square-plus"></i></a></li>
                <li><a class="dropdown-item" href="/blogs/drafts/view">View drafted blogs</a></li>
                <li><a class="dropdown-item" href="/blogs/published/view">View published blogs</a></li>
            </ul>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto" id="logout">
        <li class="nav-item">
            <a class="nav-link" href="/logout">Log out</a>
          </li>
      </ul>
      <!-- <span class="navbar-text">
        Navbar text with an inline element
      </span> -->
    </div>
  </nav>