
<%- include ("partials/navbar") %> 
<body>
    <h2>Welcome to Bloggr!</h2>
    <h5>Check out our trending articles:</h5>

    <div class="article"><h6 class="article-title">An Article Title Goes Here</h6><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed enim eligendi tempora assumenda odit aliquam placeat laboriosam fugiat illum accusantium unde repellendus ut exercitationem, illo ipsam facilis. Autem eum vel recusandae, iste laudantium aut? Dignissimos, quos ducimus ipsum unde, suscipit nostrum explicabo eum ipsa esse, similique recusandae est repellendus inventore maiores voluptatibus quidem itaque alias? Molestias id dicta, perferendis minima autem quod dolores praesentium porro ex hic quas iusto laborum deleniti alias vel ipsa eaque delectus eum nam at? Velit, sit corporis et blanditiis mollitia libero explicabo culpa neque, molestiae voluptatem, accusantium numquam ipsam aliquam quae iusto dolorem repellendus odio.</p></div>

<%- include ("partials/footer") %>